<!DOCTYPE html>
<html>
<head>
    <title>IPv6.watch</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <style type="text/css">
    #twitter-logo {
        color: #00aced;
    }
    #github-logo {
        color: #333;
    }

    a {
        text-decoration: underline;
    }

    .minheight {
        min-height: 60px;
    }

    .test-result-no-ipv6 {
        background-color: #f8d7da;
    }

    .test-result-partial-ipv6 {
        background-color: #fff3cd;
    }

    .test-result-full-ipv6 {
        background-color: #d4edda;
    }

    .target-link {
        color: black;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1><a href="/">ipv6.watch</a></h1>
    </div>
    <div class="row">
        <p>
            It is {{ long_date }} and the IPv6 adoption at major websites is bad... Most of those websites
            have the money, time and people to enable IPv6 but still they are only reachable via IPv4....
        </p>
        <p>
            Are you trying to disable IPv6 on your system or network? <a href="http://howtodisableipv6.com/">Click here</a> to learn more.
        </p>
    </div>

    {% for category in testresults|sort %}
    <!-- Category loop: {{ loop }} -->
    <div class="row mt-5 align-items-center">
            <div class="col-8">
                <h2>{{ category }}</h2>
            </div>
            <div class="col-4">
                <div class="row text-right justify-content-end mr-1">
                    <div class="col-5">Full IPv6:</div>
                    <div class="col-1"><span class="badge badge-pill badge-success">{{ querystats[category]['count_full_ipv6'] }}</span></div>
                </div>
                <div class="row text-right justify-content-end mr-1">
                    <div class="col-5">Partial IPv6:</div>
                    <div class="col-1"><span class="badge badge-pill badge-warning">{{ querystats[category]['count_partial_ipv6'] }}</span></div>
                </div>
                <div class="row text-right justify-content-end mr-1">
                    <div class="col-5">No IPv6:</div>
                    <div class="col-1"><span class="badge badge-pill badge-danger">{{ querystats[category]['count_no_ipv6'] }}</span></div>
                </div>
            </div>
    </div>

        {% for target in testresults[category] %}
        {% set details = testresults[category][target] %}
        <!-- Target loop: {{ loop }} -->
        <div class="row align-items-center minheight
            {% if details['query-results']['summary']=='all' %}test-result-full-ipv6{% elif details['query-results']['summary']=='some' %}test-result-partial-ipv6{% else %}test-result-no-ipv6{% endif %}
            mt-1
            {# {% if loop.first %}rounded-top{% endif %} #}
            {# {% if loop.last %}rounded-bottom{% endif %} #}
            rounded"
            href="#result-div-{{ details['refname'] }}"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="result-div-{{ details['refname'] }}" >

            <div class="col-1 text-left">
                {% if 'icon' in details %}
                    {% if details['icon'].startswith('fa:') %}
                        <i class="fab fa-{{ details['icon'][3:] }} fa-3x"></i>
                    {% else %}
                        <img style="max-height: 40px; max-width: 64px;" src="{{ details['icon'] }}">
                    {% endif %}
                {% endif %}
            </div>

            <div class="col-2 text-left">
                <a href="{{ details['href'] }}" class="target-link" rel="nofollow" target="_blank">
                    <b>{{ target }}</b>
                </a>
            </div>

            <div class="col-7 text-left">
                {% if details['query-results']['summary'] == 'all' %}
                    Yay! IPv6 is supported!
                {% elif details['query-results']['summary'] == 'some' %}
                    Well, there is some IPv6 support. Can't you do better?
                {% else %}
                    Nope. What a shame!
                {% endif %}
            </div>

            <div class="col-2 text-right">
                {% if details['twitter'] %}
                    <a target="_blank"
                       href="http://twitter.com/home/?status={{ ( messages['twitter'][details['query-results']['summary']] % ( details['twitter'] ) ) | urlencode }}">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                        Twitter
                    </a>
                {% endif %}
            </div>
        </div>

        <div id="result-div-{{ details['refname'] }}" class="row collapse">
            <div class="col-1"><!-- Icon spacing --></div>
            <div class="col-11">
                <div class="row">
                    <div class="col-12">
                        Sometimes a website has more than one domain where ressources are loaded from.
                        Each one is tested against multiple publicly available DNS resolvers. Each resolver has to return an AAAA record
                        to pass this test.
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-3"><b>Domain</b></div>
                    <div class="col-3"><b>Resolver Provider</b></div>
                    <div class="col-4"><b>Resolver IPs</b></div>
                    <div class="col-2 text-center"><b>AAAA Record?</b></div>
                </div>

                {% for subdomain in details['query-results']['hosts'] %}
                <div class="row">
                    <div class="col-3 border-top">
                        {{ subdomain }}
                    </div>
                    <div class="col-9">
                        {% for dnsprovider in details['query-results']['hosts'][subdomain] %}
                        <div class="row border-top">
                            <div class="col-4">
                                {{ dnsprovider }}
                            </div>
                            <div class="col-8">
                                {% for resolverip in details['query-results']['hosts'][subdomain][dnsprovider] %}
                                <div class="row">
                                    <div class="col-8">{{ resolverip }}</div>
                                    <div class="col-4 text-center">
                                        {% if details['query-results']['hosts'][subdomain][dnsprovider][resolverip] == true %}
                                        <span class="badge badge-success">Yes</span>
                                        {% else %}
                                        <span class="badge badge-danger">No</span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endfor %}

    <hr/>
    <div class="row">
        <p>
            This page is regenerated every minute. Last update was at {{ date }} (UTC)
        </p>
        <p class="text-right">
            <a href="https://github.com/andir/ipv6.watch" title="GitHub" target="_blank">
                <i class="fab fa-github fa-3x" id="github-logo"></i>
            </a>
            <a href="https://twitter.com/ipv6watch" title="Twitter" target="_blank">
                <i class="fab fa-twitter fa-3x" id="twitter-logo"></i>
            </a>
        </p>
    </div>
</div>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
